/*
 Theme Name:   Habits
 Theme URI:    http://incubadorahabits.com.br/temahabits
 Description:  Habits
 Author:       Marcos Soledade
 Template:     illdy
 Version:      1.0.0
 Text Domain:  habits
*/

body {
	font-size: 18px;
}

header .bottom-header p {
    font-size: inherit !important;
}

section .section-header p {
    font-size: inherit !important;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1 !important;
}